@media screen {
  a {
    color: black;
  }
h1,h2,h3,h4,h5,h6,p {
  padding-bottom: 0.3em;
}

table{
  margin: 5px 5px 13px 5px;
}

thead {
  border-bottom: black solid 1px;
}
th, td{
  padding-right: 10px;
}

tbody{
  border: #eee solid 1px;
}
}



